*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family: 'Segoe UI', sans-serif;
}

body {
	height: 100vh;
	background-image: linear-gradient(rgba(116, 237, 181, 0.5), rgba(172, 182, 229, 0.5)), url('../../images/PassengerImages/signup.jpg');
	background-size: cover;
	background-position: center;
	background-attachment:fixed;
	overflow-x: hidden;
    overflow-y: auto;
	margin: 0;
}

.formWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 80px); 
}



#formMain {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	height: 70vh; 
	width: 80vw; 
	max-width: 1000px;
}


            


.PsignForm, .Pdescription {
	flex: 1;
	height: 100%;
}

.PsignForm {
	background: #ffffff;
	padding: 2rem 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Pdescription {
	background-image: url('../../images/PassengerImages/passengerSignIn.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}




 @media (max-width: 768px) {
   .formMain {
        flex-direction: column;
     }

   .Pdescription, .PsignForm {
        width: 100%;
      }
    }

.PsignForm h2{ 
	text-align: center;
      margin-bottom: 1.5rem;
      color: #333;
	  font-size:2rem;
}

.PsignForm label {
  display: block;
  width: 100%;
}


.formWrapper input[type="text"],
.formWrapper input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}



.formWrapper input[type="text"]:focus,
.formWrapper input[type="password"]:focus {
  border-color: #6c63ff;
  outline: none;
}


.formWrapper input[type="submit"]{
	width: 100%;
	
      padding: 0.75rem;
      background-color: #6c63ff;
      border: none;
      color: white;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
	  font-size:1rem;
}

.formWrapper input[type="submit"]:hover{
	background-color:#574fd6;
}

.noAccount{
	display:flex;
	justify-content:center;
	align-items:center;
}

.noAccount a{
	color:black;
	text-decoration:none;
}

.noAccount a:hover{
	text-decoration: underline;
	color:red;
}